<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRhQBZ4dpkRpTQrZ0Aef4QDr16q6hzKDY</string>
	<key>GCM_SENDER_ID</key>
	<string>115595398419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AtakanBasaran.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-4fd66</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-4fd66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115595398419:ios:4cb0cf19cbe9d2f8db5ee6</string>
</dict>
</plist>